<div class="base-layer-thumb-bar">
  <div class="base-layer-thumb" *ngFor="let item of layerItems; trackBy:trackById" [ngClass]="{'active': item.visible}">
    <a href="#" title="{{item.title}}" (click)="onSwitch(item)">
      <img src="assets/{{item.name}}.png" />
    </a>
    <div class="title-holder">
      {{item.title}}
    </div>
  </div>
</div>