
.base-layer-thumb-bar {
    position: absolute;
    z-index: 1;
    bottom: 40px;
    right: 80px;
    .base-layer-thumb {
        position: relative;
        border-radius: 4px;
        box-shadow: 1px 1px 3px rgba(0, 0, 0, .4);
        background-color: white;
        float: left;
        margin-left: 20px;
        a {
            display: flex;
            img {
                height: 100px;
                height: 100px;
                border: 2px white solid;
                border-radius: 4px;
            }
            &:hover {
                img {
                    border-color: #809cc7;
                }

            }
        }
        .title-holder {
            position: absolute; 
            bottom: 0;
            left: 0;
            width: 100%;
            line-height: 25px;
            text-align: center;
            font-size: 11px;
            color: white;
            text-shadow:  1px 1px 1px rgba(0, 0, 0, .8);

        }
    }
    .base-layer-thumb.active {
        box-shadow: none;
        border: 2px white solid;
        a {
            img {
                border-color: #44628f;
            }
        }
    }

}